.App {
  width: 100%;
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Roboto", sans-serif;
  /* background-color: #25678F; */
}

.figma_heading {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #25678f;
}

table {
  border: 2px solid rgba(217, 217, 217, 0.58);
  border-radius: 17px;
  width: 440px;
  height: 180px;
}

.Main {
  font-family: "Roboto", sans-serif;
}
th {
  border-bottom: solid black;
  font-size: larger;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #27c499 !important;
}

.suggestion-text {
  font-size: 13px;
  text-decoration: none;
  color: black;
}
.suggestions-menu {
  border: 1px solid rgba(176, 174, 174, 0.96);
  width: 175px;
  /* border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    border-color: #27C499 !important; */
  padding: 1em;
  border-radius: 5px;
  /* z-index: 100; */
  position: absolute;
  background-color: white;
}

.suggestion-box :hover {
  color: #25678f;
}

.Main {
  margin: 30px;
}

.nav-opt {
  margin-left: 40px !important;
}

.nav-opt:hover {
  color: #27c499 !important;
}

.nav-opt:active,
.nav-opt:focus,
.nav-opt:target {
  color: #27c499 !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #27c499 !important;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 16px;
  background-color: #27c499;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

.back-to-top.show {
  display: block;
}

.overview-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #b3b3b3
  ;
  margin-bottom: 20px;
}

#action1{
  margin-top: 30px;
}

.box-heading{
  background-color: #D9D9D9;
  border-radius: 10px 10px 0px 0px;
  padding:7px;
  border-bottom: 1px solid #b3b3b3;
  font-weight: 600;
  padding-left: 30px;
  color: #25678f;
  font-size: 15px;
}